[2016-05-08 20:34] jorgesumle opened #1 "Write the instructions on how to lauch the game"
Readme should contain instructions on how to lauch the game.

[2016-05-08 22:38] metalx1000 commented on #1
I just updated the Readme.

P.S. Anyone ever tell you that you look like CGP Grey  :P

[2016-05-08 22:38] #1 closed

[2016-05-09 23:58] metalx1000 opened #2 "Game Goals"
As a user I would like to collect coins/dots/food/time/kittens with my character

[2016-05-13 12:48] jimfrize commented on #2
I agree, I think it would be nice to collect food/whatever to charge up a power bar for some kind of super-cool special move that warps time and space.

[2016-05-13 12:51] jimfrize opened #5 "Scrolling Background Images"
I'd really like to try and implement a scrolling background that creates a sort of pseudo-3D parallaxing pan effect. Perhaps some line drawn cityscapes would look nice?

[2016-05-13 16:42] OneSleepyDev commented on #5
Is that the same effect used for Super Mario World? (2 layer background, clouds, leaves falling, mountains, etc.)
Forgive me for my ignorance. :p

[2016-05-13 17:02] metalx1000 commented on #5
Sleepy (can I call you that?),
I think be means something like that.
Could be a still image (repeating pattern probably), that moves a bit slower then the front layer.
And we can also have an animated as well.

I've only played with tilemaps a little bit.
I've created the current level quickly with Tiled (http://www.mapeditor.org/).
It's in the repositories for Debian, so I'm assuming other Linux

[2016-05-13 17:05] OneSleepyDev opened #6 "Music file size and asset licenses"
@jimfrize
Thanks for the updates! :D
I like what you did, but a few problems came up.

TheGame.wav is 19MB :/ Could we try to make that file smaller?
And so that we're certain the files(player.png, jump.wav, thegame.wave) can be used, could you post the licenses?

[2016-05-13 17:09] metalx1000 commented on #6
Wow, thanks for for catching that.  Yeah, that's huge.
I'll make the music file smaller.  I'm pretty sure @jimfrize made the player.png.

@jimfrize I should have asked you.  Did you make the music and jump sound?  If not, were did you get them and do we have the right to be using them?  If this jump sound doesn't work, I have some jump sounds I've created for other projects with a synthesizer.  If

[2016-05-13 17:13] metalx1000 commented on #6
@OneSleepyDev I've reduced the size of the Wave files and made mp3 and ogg copies for compatibility.  Still waiting on @jimfrize  about the licensing.

[2016-05-13 17:14] jimfrize commented on #6
I made the music and jump sound, I am happy to share them as part of the project under the license you are currently using for the project. Also the music and FX are just demos really, I am more than happy to change them to your liking. I work in music, so the sound design stuff is kind of my forte. Apologies for the huge file size!

[2016-05-13 17:17] jimfrize commented on #6
Yeah, the player.png is my design too. I drew it on paper and scanned it in. I thought the game would suit a more hand drawn style. I plan to do the same for the blocks and bricks, if that is of any interest?

[2016-05-13 17:18] jimfrize commented on #6
...and yeah, the slow moving backgrounds inSuper Mario World is exactly what I was thinking. It would be a really nice feature.

[2016-05-13 17:22] jimfrize commented on #6
With the music I took some cues from Kris' original. The bass line has the same melody and it uses 8 bit style synthesizers. But like I said, I can do what ever you want.

[2016-05-13 17:23] OneSleepyDev commented on #5
Fine with me, it's accurate. I just abbrev to osd when I'm feeling lazy.

That sounds good to me! Although, I have almost zero experience with using tilemaps.
(The most I've done is stretch an image)

[2016-05-13 17:25] jimfrize commented on #5
When I get the time I can put together a seamless background image.

[2016-05-13 17:26] OneSleepyDev commented on #6
@metalx1000 When the page took a minute to load I realized something was strange. lol

@jimfrize They sound great! And thank you for being so prompt!

[2016-05-13 17:30] jimfrize opened #8 "Adding items or augmentations to the player.png"
So I wanted to make a version of the chickpea guy with the jetpack on, or something similar - I thought I might try out a propeller on his head?

The only problem is the format of the image 64x64px is pretty small, do you think I could make the image taller for adding the prop? Or should we do something else, like making the player glow or flash when he has a special item? - that way we could keep

[2016-05-13 17:35] jimfrize commented on #6
@OneSleepyDev No problem, I'm excited to be part of the project, as you can probably see from my Github profile, I don't normally do this kind of thing. I've been watching Kris for a while on Youtube and he's been a constant source of inspiration :)

[2016-05-13 17:40] jimfrize commented on #8
BTW, the player was inspired by @metalx1000 's original bubble head guy & watching my 10 month old son eating a chickpea curry ;)

[2016-05-13 17:52] OneSleepyDev commented on #8
@jimfrize You could add a second sprite with the propeller hat and have it follow the player character on it's head. :-)

[2016-05-13 17:54] OneSleepyDev commented on #6
@jimfrize Ditto! :laughing:

[2016-05-13 17:57] jimfrize commented on #8
@OneSleepyDev I'd be willing to give that a go, I might need some guidance on the best way to go about it. Also it is worth noting that the chickpea guy's head bobs up and down, I don't know if that makes it more complicated?

[2016-05-13 18:33] jimfrize commented on #6
The music size and format is interesting. To get the size down @metalx1000 has reduced the WAV to a sampling rate of 22.05K and a bit depth of 8, it's also mono. And to be honest, the sound quality of the WAV is pretty bad. The Mp3 on the other hand is a smaller file size, 44.1K and stereo - it sounds significantly better. I've also found that the OGG format is not so well supported and, in my exp

[2016-05-13 19:20] OneSleepyDev commented on #6
@jimfrize I tried to lower the size of a wav on my project and it ended up sounding awful. x_x so I used mp3 - But OGG is the go to format for Free Software users, so including it along with mp3 would be a good idea IMHO. Some people don't and can't use mp3's due to restrictions. (IIRC, MP3 has a fuzzy legal status)

[2016-05-13 19:33] OneSleepyDev commented on #8
@jimfrize Not sure, but I wouldn't think so.

@metalx1000 Ideas?

[2016-05-13 19:58] metalx1000 commented on #8
You can parent objects to one and another.
The bobbing of the head might be an issue.
It's something we can look into.
Maybe make it an item that gives the play some sort of power.

[2016-05-13 20:11] metalx1000 commented on #6
Yes, we should definitely support OGG, and maybe WAV.  Mp3 is a horrible format, and is not suitable for Free browsers such as Firefox.  But, some browsers refuse to support OGG, IE for example.

Now, WAV files are larger and there is quality loss so get the file size down, but they load a lot faster.  Most browsers don't state that they support WAV, but even though they don't say it, most do supp

[2016-05-13 20:32] OneSleepyDev commented on #6
@metalx1000 I see your point with wav. And I wouldn't mind a loading screen with a progress bar if I was playing the game. I wait through those things all the time anyway.

[2016-05-13 22:45] OneSleepyDev commented on #8
@metalx1000 @jimfrize

Hmm... We could set some animation frames lower than others to compensate for the bob.

[2016-05-13 23:28] metalx1000 opened #9 "Touch screen controls"
Some basic onscreen controls for touch screen devices.
Basic concept is like the jump button I put in this game I created a while back:
http://filmsbykris.com/scripts/Game-Basics/Phaser2D/tutorials/tmnt/09_tutorial.html

Or if someone wants to be more creative I'd love to see what people come up with

[2016-05-13 23:31] metalx1000 opened #10 "Gamepad controls"
This is simple to add, and I might even do it myself soon, but I thought I would put this here in case someone else wanted to take care of it.
You could probably pull most the code from this project I did a while back:
http://filmsbykris.com/scripts/mario/12_gamepad.html

[2016-05-14 02:07] jimfrize commented on #6
So for free and open ware, OGG is well supported - good to know! In my case, I can't play the OGG file using Safari. But I can use MP3 and WAV. Even though MP3 is an evil proprietary format, it's preferable to the low quality WAV. If we keep WAV, is there someway to make MP3 and OGG Vorbis the default, then have the WAV file as a last resort?

[2016-05-14 02:14] jimfrize commented on #8
Is there a way we can manipulate the hue or brightness of the player and just make him flash or pulsate, like when Super Mario gets a star power up?

[2016-05-14 12:16] metalx1000 commented on #8
@jimfrize
I know you can do a lot of image manipulation (colors, hues, etc) if you are using bitmaps.
Bitmaps are going to be larger, but our images are pretty small.
I think there are extra steps to make the backgrounds of them transparent.

So there are pros and cons.  I like using pngs for most things.
We can always have a separate sprite image for color changes.  But if we do it a lot, then Bi

[2016-05-14 12:21] metalx1000 commented on #6
Well, the whole point of using the WAV is for quicker loading.  So if we are going to use it, it should be the default, other wise we shouldn't be using it.

[2016-05-14 12:39] jimfrize commented on #6
@metalx1000 Ahh ok, I see what you mean now. I'm happy to go with the general consensus, but personally speaking, if we had to use WAVs @ 8bit and 22.05, I'd rather not use WAVs at all.

[2016-05-14 12:48] jimfrize opened #11 "Design Proposal"
I thought I'd put together a mockup, so I can show some of the ideas I've been thinking about.
Please check out the 15 second animation I've attached to this post.

I was thinking that the character, "Channa Boy" could go around collecting seeds to increase his energy level/score. I was also thinking about having special "Rainbow Seeds" that can give you a randomly selected power-up such as the je

[2016-05-14 12:56] jimfrize commented on #2
I was thinking of collecting seeds - they're nutritious and delicious ;)

#11 please see my design proposal to get an idea about how that might look.

[2016-05-14 12:57] jimfrize commented on #9
This would be a great addition, let me know if you need some custom icons for the controls.

[2016-05-14 13:39] metalx1000 commented on #10
Got this done.  We might want to remap the buttons down the line as we add features (I would like to see a "run" option), but this works for now.

[2016-05-14 13:39] #10 closed

[2016-05-14 13:40] metalx1000 commented on #11
Sounds good to me.

[2016-05-14 13:46] metalx1000 commented on #9
Custom icons would be great.  I could just make left and right arrow, and circle buttons for other controls, but maybe you can make something better.  right now we need,
Left, Right, Jump, Jetpack buttons

Here are some ideas from the Phaser site.
http://phaser.io/examples/v2/category/virtualjoystick

[2016-05-14 13:48] metalx1000 commented on #8
@jimfrize HUE change I think you need bitmap, but look like you can color tint PNGs.
http://phaser.io/examples/v2/display/tint-sprite

[2016-05-14 13:49] metalx1000 commented on #6
@jimfrize I agree.  We could do better with our code and create a loading screen.
This isn't high priority for me.  For now we can remove the WAV file and just have delayed music on slower devices.  It's not like we have a huge audience at this point and it doesn't effect Game play.

[2016-05-14 21:39] jimfrize opened #12 "Error after editing map in Tiled"
I cant seem to edit the maps on my system using Tiled, the resulting .JSON file stops the game from running and it throws an error. I've asked a question on the Tiled community forum to see if they know anything about it:

http://discourse.mapeditor.org/t/typemismatcherror-after-editing-map/1366

[2016-05-14 22:12] metalx1000 commented on #12
@jimfrize So, you can open and edit the map, and exporting seems to go alright (no errors at that point).  But the generated file fails?

Just to be clear, you are trying open and edit the "Test_v2.tmx" file I made?

[2016-05-14 22:21] jimfrize commented on #12
@metalx1000 That's all correct

[2016-05-14 23:25] metalx1000 commented on #12
Can you post both your saved tmx file and the json output file some place so I can see them?

[2016-05-14 23:52] jimfrize commented on #12
It seems I can save out new maps with different platforms and layouts, but I get the problem again if I try to add a jetpack.
I have added a single jetpack at the beginning of the level:
[map.zip](https://github.com/metalx1000/Awesome-Game/files/264754/map.zip)

[2016-05-15 08:10] jonpatterns opened #13 "Play area only shows black rectangle"
Hi

I'm using Firefox 46.0.1 on Linux  4.1.23-1-MANJARO #1 SMP PREEMPT

When the game launches, via clicking on the hosted link, the play area only shows a  black rectangle - with nothing else shown. The music is playing. Fullscreen goes to a completely black screen (apart from "Press Esc to exit fullscreen" message).

[2016-05-15 09:45] jimfrize commented on #13
Hi @jonpatterns, can you look at the error console in Firefox to see if you have any errors?

[2016-05-15 10:01] jonpatterns commented on #13
Do you mean the 'web console'? There seems to be a problem with 1280x720 not being able.

The character encoding of the HTML document was not declared. The document will render with garbled text in some browser configurations if the document contains characters from outside the US-ASCII range. The character encoding of the page must be declared in the document or in the transfer protocol. Awesome-

[2016-05-15 12:22] jimfrize commented on #13
@jonpatterns yup, that's what I was after :)

Try this page:
https://get.webgl.org

It should let you know if you have WebGL installed correctly on your system. If it's working properly the web page will tell you "Your browser supports WebGL"  and you should see a nice spinning cube.

Let me know how you get on.

[2016-05-15 12:38] jonpatterns commented on #13
I get the spinning cube and 'Your browser supports WebGL' message.

[2016-05-15 12:56] jimfrize commented on #13
@jonpatterns hummm, so that's all good. Do you have another browser you can test, to see if this is an issue only when using Firefox?

[2016-05-15 13:32] metalx1000 commented on #13
This is interesting.  Seems like your system supports WebGL, but even if it didn't the game should default to Canvas rendering.

Just tested it on my Debian machine with Firefox 45.1.0, and all is good here.
I'm bad at declared character encoding, which is just one line at the top of the document.  I'll add that now.

@jonpatterns can you test it with this link:
http://filmsbykris.com/tmp/Awesome-

[2016-05-15 13:38] metalx1000 commented on #13
@jonpatterns  I added the meta tag for charset.  I don't think that would cause this problem, but you never know.  So, give this a try now:
http://filmsbykris.com/scripts/Awesome-Game/

Let me know if that or the link with the lower resolution work.

[2016-05-15 13:44] jimfrize commented on #13
@metalx1000 Interesting, the game play is totally different in low res. It's quite nice not being able to see so much of the map.

[2016-05-15 13:48] jimfrize commented on #12
@metalx1000 Still looking into this, just making small changes to the map and seeing when things break. I've got some new objects and background images ready to go, just need to work this Tiled thing out and I can make a pull request. I'm currently looking into the .JS files and working out how to preload images and stuff. Hold tight!

[2016-05-15 14:00] metalx1000 commented on #12
Here is the tutorial I used when learning how to design tile maps:
https://gamedevacademy.org/html5-phaser-tutorial-top-down-games-with-tiled/

The map you created worked for me, but here are a few things:
1) Seems like my browser had cached the old "map.json",  clear the cache for that file after making changes.
2) The Jet pack needs to be added to "objects" layer, and "type" in the properties ta

[2016-05-15 14:01] metalx1000 commented on #13
@jimfrize I was kinda thinking the same thing.  I think that might be to close, but somewhere in the middle might be better.

[2016-05-15 14:05] jonpatterns commented on #13
Thanks for the replies, I'll answer in turn:

The game works in Chromium 50.0.2661.94 and Seamonkey 2.4 (although is very slow in Seamonkey).

Smaller screen works in Firefox! (and Chromium and Seamonkey)
http://filmsbykris.com/tmp/Awesome-Game/

Bigger screen still doesn't work in Firefox

"Phaser v2.4.6 | Pixi.js v2.2.9 | WebGL | WebAudio | http://phaser.io" phaser.min.js:11:27940
Error: WebGL:

[2016-05-15 14:39] jimfrize commented on #13
Thankyou @jonpatterns this is all really helpful :)

Hopefully we can figure out a way of having hi-res in Firefox soon

[2016-05-15 14:46] jimfrize commented on #12
@metalx1000 thanks! I'll have a look at that tut later :)

I don't have to worry about the cached version, the bookmark I have stored has a suffix in the url to stop that:

http://jimjim.local/Awesome-Game/?nocache=1

So whenever the page loads it ignores the cache.

[2016-05-15 15:57] metalx1000 commented on #13
I think for now we'll lower the resolution (no need for it to be HD anyway), and later work on scaling the game down a little to fit better in the lower rez setup.  It should be easy to do, I just need to look into it.

[2016-05-15 18:04] jimfrize commented on #12
Ok, finally worked out what was wrong, I was adding the jetpacks to the world layer - doh!
I've got it sorted now :)

[2016-05-15 18:04] #12 closed

[2016-05-16 07:53] jimfrize opened #15 "General Issues / To Do List"
- CPU usage is too much

- Can’t toggle mute without entering fullscreen

- Character needs a tighter collision boundary

- Jetpack does not work in fullscreen

- Need to reduce the high frequencies in the music by around 3 to 6db

- Melodies and rhythms need to be more varied

- I want to be able to use animated objects from Tiled map editor

- Could have the jetpack work with the jump key “flapp

[2016-05-16 07:57] jimfrize commented on #15
<img width="521" alt="screen shot 2016-05-16 at 08 16 23" src="https://cloud.githubusercontent.com/assets/12966015/15283619/d8a565a8-1b43-11e6-9b8b-a5a1a61a4730.png">

42.2% CPU usage!!! & I'm running a 2.7 GHz Intel Core i7 with a NVIDIA GeForce GT 650M 1024 MB GFX card

[2016-05-16 16:50] metalx1000 commented on #15
- I'm not sure what can be done about the CPU usage.  But, I don't trust numbers, I look at how things run.  I can't test it to well on my phone right now, since we don't have onscreen controls yet, but I test things on my tablet and phone.  My Phone is a 2014 Moto G.  Brand new 2 years ago this was a $179 phone.  The way I look at it, if it will run well on that, then it's good to go.  I'm not ag

[2016-05-16 16:51] metalx1000 commented on #13
I'm going to close this since we fixed it by lowering the resolution.

[2016-05-16 16:51] #13 closed

[2016-05-16 16:54] metalx1000 commented on #6
All Wav files have been removed (for music) and OGG/MP3 are being used.  Closing this.

[2016-05-16 16:54] #6 closed

[2016-05-16 17:05] jimfrize commented on #15
@metalx1000 Just made a few changes, been working my way through this list. I've been removing things from the list once I've done them. Just sent you the pull request :)

[2016-05-16 17:20] jonpatterns commented on #15
It may be useful to have a todo text file in the repository/ or maybe a wiki page. What do people think about a title page - here the different options could be set and or in game menu.

[2016-05-16 17:22] jimfrize commented on #15
@metalx1000 When I first load the page I don't get music or SFX, no matter how long I wait. If I refresh the page the sound comes back immediately.

I think using a different key for fullscreen might be good solution, maybe "F". But I'm cool with it either way.

I adjusted the levels of the SFX and music by editing the audio files, so that they are all balanced together. The music still needs adju

[2016-05-16 17:29] jimfrize commented on #9
@metalx1000 Please see my latest pull request, I have made some simple icons for this feature. They are in the res folder, but they are not implemented in any way. I have tried them out on screen though, and they look good.

[2016-05-16 18:39] jimfrize commented on #15
@jonpatterns I like having a list of things I'm working on that I can edit as I go, just so I can keep track of things and so people can see what I'm generally up to. If it was in a readme in the repo, maybe I couldn't edit it so easily - I don't know, I'm new to all this. I guess it would make more sense in a Wiki, but then I don't know what kind of work would be involved in setting that up.

I l

[2016-05-16 19:05] jimfrize commented on #9
Here's what they look like:

<img width="800" alt="control_mock" src="https://cloud.githubusercontent.com/assets/12966015/15300606/661aad28-1ba1-11e6-8efa-e182f423e891.png">

[2016-05-16 19:06] OneSleepyDev commented on #11
I like it!

[2016-05-16 19:06] jimfrize commented on #9
If people like them, maybe I could do another mute icon in the same style

[2016-05-16 19:08] OneSleepyDev commented on #9
@jimfrize Those look pretty awesome! Could the opacity be tweaked a little? :-)

[2016-05-16 19:21] jimfrize commented on #9
@OneSleepyDev Sure, no problem. I did try them with a little transparency, but it made them harder to see over certain tiles. We can give the transparent ones a spin once we have the controls up and running :) I'm loving the square clouds at the moment, quite pleased with them. The temple thing was supposed to have a Tux penguin above the door, not sure where that's gone?

[2016-05-16 19:35] jimfrize commented on #11
@OneSleepyDev

It's getting there. Got most of the things in the proposal started. Here's a link to its current state:

http://sonodrome.co.uk/Awesome-Game/index.html

The seeds do bring a little something to the game, I could actually imagine myself having fun playing it :)

[2016-05-16 19:40] OneSleepyDev commented on #11
@jimfrize It plays great. I had fun. :3

(Once the merge issue get's resolved I'll update my fork and begin with some enhancements myself. In this direction of course.)

[2016-05-16 20:26] jimfrize commented on #11
@OneSleepyDev Thanks man! I don't think we have a fixed direction, I think we just chip in ideas and see what sticks.

It's a bit weird, working together like this. I feel like @metalx1000 has invited me into his house and I've just started decorating and moving the furniture around! It's an interesting process, I'm intrigued to see what direction the game takes.

Thanks @metalx1000 for inviting u

[2016-05-16 20:27] jimfrize commented on #11
I've also been thinking about other powerups we could have, like; super-speed, flea jump and zero-g. Looking at the player parameters, they should be easy enough to do.

[2016-05-16 20:35] jimfrize commented on #15
Okay, gunna remove the "no sound on startup" issue from the list. It only occurs with my offline version. If I upload it to a server it works perfect every time. Incidentally, I've never experienced any lag or delay time in the music starting when I play the game "live", everything seems to load pretty much instantaneously. Humm, no looping issue either - cool :)

[2016-05-16 21:32] metalx1000 commented on #9
Looks great!  I like @OneSleepyDev idea of transparency level tweak on the controls.  This should be able to be done in code.

[2016-05-16 21:36] metalx1000 commented on #11
I love the direction we are going in as well.  @jimfrize your art is great!  I also love that I'm learning a bit more about Git than just using it to store my code online.  Hitting some bumps, but moving along.  I feel like I'm doing more organizing then code writing, but as time goes on and we learn more about how this works, I feel that I'll sort through that stuff faster.

Thanks @jimfrize and

[2016-05-16 21:49] metalx1000 commented on #2
He eats seeds.  Closing this for now.

[2016-05-16 21:49] #2 closed

[2016-05-17 01:36] #11 closed

[2016-05-17 01:40] metalx1000 opened #17 "Damage and health"
So we need to start making some enemies.
How do we want to do damage and health.
I was thinking maybe like Sonic the Hedgehog.
If you have seed and get hit your seed go flying and you have a little time to collect them back.
If you get hit with no seeds you die.

I was also thinking about attacks.  Make you can spit the seeds, so more seeds you have the more ammo you have, but more you use the clo

[2016-05-17 02:57] OneSleepyDev commented on #17
Seeds = Points, 1-hit shield, projectile ammo? That sounds good to me.

But there's also the Jazz the Jackrabbit style(also MegaMan): https://youtu.be/b16upFloYak
Health bar, variety of weapons as pick ups, points for destroying enemies and collecting ..erhm ... things.

This might be a bit ambitious to suggest this, but there could be modes implemented.
Sort of like: Basic/Advanced
Or: Simple/Com

[2016-05-17 07:08] jimfrize commented on #17
I vote for spitting seeds and sonic style damage and health, that sounds great. Although I'm not a big fan of killing things. Maybe, when we hit a "bad guy/whatever" they can be turned into a plant which our character collects to gain points or pass the level. Like - collect 20 plants to win!

+1 vote for a rapid fire powerup :)

[2016-05-17 11:22] metalx1000 commented on #17
Not killing the bad guys?  We might be a little split on this issue.  :/
Are the bad guys not allowed to kill us?

[2016-05-17 11:53] jimfrize commented on #17
@metalx1000 Lol, I'm just a dippy hippy. I don't want to kill em, just turn em good!

I think the bad guys should be able to kill us, just not the other way around - it's a tough world for a pacifist chickpea, not only has he got no hands, but everyone is out to kill him!

I'm happy either way though, I'm not fussy. But if there was a vote, I'd vote for transforming the bad guys into plants and co

[2016-05-17 12:03] metalx1000 commented on #15
I've added a fullscreen button next to the mute button.
I think we should create a new "issue" for each item, that way we can close them as we go along.
Label them "enhancement" if it's something we want to add, "question" if it's something to discuss,  "bug" if it's a bug, etc.

[2016-05-17 12:06] jimfrize commented on #17
@metalx1000 I guess we can always do both. Maybe flower morphing power could be a seperate powerup. And the flowers could be worth 10 seeds or ammo, or something.

[2016-05-17 12:16] metalx1000 commented on #15
@jimfrize I've changed it so each Jetpack gives you only 50% power, and caps you at 100%.  That way you're not flying around as long with one pack, but you can collect more.

[2016-05-17 12:19] jimfrize commented on #15
@metalx1000 Good idea. I made a pull request earlier, not sure if I have done it right, it says that there's no files to change? There should be 15 changes

[2016-05-17 13:17] jimfrize commented on #15
Okay, will open a bunch of other individual issues in place of this one

[2016-05-17 13:17] #15 closed

[2016-05-17 13:29] jimfrize opened #19 "Can't use the jetpack in fullscreen (Safari Only)"
My system:

Mac OS X El Capitan 10.11.2
Safari Version 9.0.2 (11601.3.9)

I get a system noise when I press the "J" key, Like I've done something that's prohibited.
Everything works fine in Firefox or Chrome

[2016-05-17 13:30] jimfrize opened #20 "Animated Objects from Tiles"
I want to be able to use animated objects created in the Tiled map editor program

[2016-05-17 13:38] jimfrize commented on #8
@metalx1000 I'm still looking into this, I think I should be able to group a sprite with the character. Also, I've been trying to tag my issues (enhancement/bug etc) and I've been googling to find the answer, but I can't work it out. How do I tag my issues? Or is that something you have to do?

[2016-05-17 14:42] metalx1000 commented on #19
@jimfrize Since I don't have an OSX system or Safari, I'm going to assign this to you to fix.

[2016-05-17 14:58] jimfrize commented on #19
@metalx1000 I'll look into it. Not a big issue though, since it works in every other browser I have. But still, it's good practice to document all the bugs we discover - It might be useful information to someone else.

[2016-05-17 16:13] metalx1000 commented on #17
I mean, it doesn't have to be brutal or violent, I'm talking Mario or Tux style.  They get hit, they fall of the screen or something.

[2016-05-17 17:18] jimfrize commented on #17
Maybe he could eat the enemy? His mouth does look pretty big - in proportion to his body

[2016-05-17 18:22] OneSleepyDev commented on #17
If they were to turn into something and grant points(or something) it gives players a reason to find and collect them. I usually skip over enemies and run through the level in most platformers.

[2016-05-17 20:53] jonpatterns opened #21 "Problem with WebGL (black background) fix included with speed bonus"
I found the potential problem with the black play area.

The latest version of Awesome Game did not load the background image on Firefox, it showed everything else (ie. character tiles hud etc).

In the web console I got about 3x:

`Error: WebGL: Error during native OpenGL init.`

The seems to be a problem with somewhere between WebGL, Firefox and my graphics hardware (Mesa DRI Intel(R) 915G x86/M

[2016-05-17 21:18] jimfrize commented on #21
@jonpatterns Very interesting, maybe webGL is not the best option then. I noticed that my CPU ussage is really high, at one point firefox peaked at over 70% it normally doesn't go much over 20%. I've also noticed that my fans are spooling up and the base of my laptop is getting hot, the only other time my laptop does that is when I'm rendering out HD video!

The background image is 1920 × 672 px a

[2016-05-17 22:08] jimfrize commented on #21
Okay, so Canvas uses less CPU on my system. Compared to WebGL, the CPU usage fluctuates less and on average the useage is 20% lower.

[2016-05-18 00:20] metalx1000 commented on #21
That is really odd.  I was always under the impression that if your system can use webGL it was a better option, that's why the 'AUTO' we have set defaults to webGL.  I'll have to look into this more.

Also, the background image is beautiful, but maybe we should look into turning it into a tilemap image.

[2016-05-18 00:43] metalx1000 commented on #21
For now I've disabled the background, just for testing.
I also started adding a few new tiles in case we decided to go that way.

[2016-05-18 07:14] jimfrize commented on #21
It seems to make the same sort of difference as changing to Canvas. Maybe the .GIF format is the problem, I can make a replacement tileset for now. I might look into using an image again in the future, I would still like to have a scrolling background - but I guess there's plenty of other things to do first :)

[2016-05-18 14:15] metalx1000 commented on #21
Yeah, I would love to keep using your background, I like it a lot.
I also thought maybe the gif format was the problem.  I don't see why it would be, but maybe we can convert it to a png and see if that makes a difference.

I'll also be testing everything out on my mobile devices more now that I have the basic on screen controls made.  I have them set to only should up on mobile devices.  So let m

[2016-05-18 14:19] metalx1000 commented on #17
@jimfrize HAHA!!! You don't want to kill them, but you want to eat them alive?

@OneSleepyDev yeah, maybe when hit they can turn into a puff of smoke and leave an item behind.

[2016-05-18 14:35] jimfrize commented on #17
@metalx1000 Yeah that's accepatble, at least then the chickpea/parrot-with-no-body can get some nutrition from his kills.

[2016-05-18 17:46] metalx101 opened #23 "test"
test

[2016-05-18 17:47] #23 closed

[2016-05-18 17:47] metalx1000 commented on #8
I guess only I can label stuff.  Didn't realize that.  I'll try and label things as they come in.

[2016-05-18 17:49] OneSleepyDev commented on #17
Or some sparkle effects :P
Items could be randomized. Or enemies could denote type of drops based on color.

[2016-05-18 17:49] metalx1000 commented on #9
I've added the basic controls.  I still need to add a Jetpack button and any other buttons we may need as functions are added.

[2016-05-18 17:49] #9 closed

[2016-05-18 17:50] #17 closed

[2016-05-18 19:50] jimfrize commented on #17
@OneSleepyDev I love the idea of randomizing the powerups, I think it would make things more exciting :)

[2016-05-18 19:51] jimfrize commented on #23
...Recieved

[2016-05-18 19:51] jimfrize commented on #8
@metalx1000 Thanks :)

[2016-05-18 20:00] jimfrize opened #24 "Landing after jumps"
When landing after jumps the character bounces and kind of skids along before the walking animation starts again. If you remove the player.body.bounce.y then this doesn't happen any more. What do people think about this?

[2016-05-18 20:11] OneSleepyDev commented on #24
I had this same issue when I tried to implement it last week before leaving town! Glad someone else thought about it too.

We could add a delay to the jump animation, around 1-1.5 seconds of animation, then stop on the running(jumping) frame. Or we can remove the bounce, w/e works.

[2016-05-18 20:30] OneSleepyDev opened #25 "Idea for pause menu"
Can't code anything at the moment but I thought to share anyway to see what sticks.

To add a pause menu to the game we can add a condition in update() for the play state to check whether or not a pause button was pressed, if so, it would bring up an overlay with the mute, fullscreen, and sound fx options. When OK is pressed those vars are set and it breaks out and continues the game until pause i

[2016-05-18 20:34] OneSleepyDev commented on #5
@jimfrize You've already been doing so much, hope this isn't too much to ask.
When you have time would you mind creating a farm looking background? I thought it might go well with the chickpea character.

I can see it now.. :corn:  "Episode 1: Escape the farm!" :leaves:

[2016-05-18 20:43] jimfrize commented on #21
@metalx1000 Okay, tested using a .PNG for the background. It's worse! 75% CPU usage nominal!
Tried scaling the image down to a quater of the size, then scaling it back up agian in Phaser, it was a little better, but still not great (around 65%).

Also been looking at some example code to see if I can shed any light on this.

This runs fine (< 20%) : http://www.goodboydigital.com/pixijs/examples/19

[2016-05-18 20:54] jimfrize commented on #25
This is a great idea, it will free up the screen space. We don't want to clog up the screen with icons. At the moment, we don't have that problem, but going forward this could be really useful!

[2016-05-18 20:57] jimfrize commented on #5
@OneSleepyDev Once we have worked out the right way to do the backgrounds, I'll make a whole bunch of different scenes :)

[2016-05-18 22:02] metalx1000 commented on #24
@jimfrize I'm ok with losing the bounce, it makes it a little hard to do a second jump anyway.  Lets just comment that line out in case we decide we want it in later.

I'm a little confused with your comment @OneSleepyDev, it sounds like you are talking about the start of the jump, not the end.  am I just misunderstanding?

[2016-05-18 22:09] jimfrize commented on #21
So I got the background image down to 14KB by converting it to .JPG, quatering the chroma and reducing the quality to 20%. I also loaded the image as a tileset using Tiled. This got the CPU load down to around 55%. Better, but not the massive saving I was hoping for.

[2016-05-18 22:12] OneSleepyDev commented on #24
@metalx1000 Yep, at the start. When I had coded my solution to it , it would go to the run(jump) frame when it bounced each time; which looked like a stutter. By adding that delay the char would look like they're still running.

[2016-05-18 22:15] metalx1000 commented on #25
I like the idea, but I see some problems with the implementation of it.  Or at lest in doing things the way I've done them in the past.

Example:  Let's say we have a power up that makes the play invincible for a set amount of time, let say 5 seconds.  I would normally get the current time, add 5 seconds to it, and save that to a variable.
player.invin = invincable += 5000;

Then in the update loo

[2016-05-18 22:18] metalx1000 commented on #21
We'll just have to keep playing with this.  At lest we are moving in the right direction.

[2016-05-18 22:35] metalx1000 commented on #25
This function pauses when this timer is also paused "game.time.events.seconds".
So we could use that to time stuff.

Here is an example pause menu
http://phaser.io/examples/v2/misc/pause-menu

[2016-05-18 23:19] OneSleepyDev commented on #25
@metalx1000 That example looks great! I tried looking at a pause menu before, but for some reason I must have missed this. Since it's built in and seems to cover the concerns, I say we use that if everyone's for it.

[2016-05-19 22:41] jimfrize commented on #21
Here's some interesting info on Phaser performace: http://www.thebotanistgame.com/blog/2015/03/04/tuning-phaserjs-performance.html
WEBGL is sometimes slower, apparently

[2016-05-19 23:57] metalx1000 commented on #21
@jimfrize ok, I set the default to canvas for now.  I also just set it so that if you set the debug variable to 'true' it will display the FPS in the HUD.

[2016-05-19 23:58] metalx1000 commented on #24
For now I set bounce to "0"

[2016-05-19 23:58] #24 closed

[2016-05-20 00:00] metalx1000 commented on #21
And...I'm pretty sure the FPS HUD display is working.  My desktop always says 60fps, which is the default max.  I haven't created a way to turn it on for mobile devices.  I'll probably add url variables for this sort of thing.

[2016-05-20 00:12] metalx1000 commented on #21
You can now turn on Debugging to see the FPS on screen in the HUD with URL variables.
http://filmsbykris.com/scripts/Awesome-Game/?debug=true

This will help with testing performance on both desktop and mobile devices.

[2016-05-20 00:17] metalx1000 commented on #21
Sure enough, on my phone with Canvas I'm getting between 49 and 60 fps with canvas.  If I switch to webGL it's all over the place, but probably averaging 20 to 30 fps, and going as low as 16 fps at times.
Good catch on this guys.  For now we'll stick with CANVAS.

That on my 2014 Moto G with Chrome Browser

[2016-05-20 16:47] OneSleepyDev commented on #21
Good find! I tried this on my own game and I got much better FPS on my test phones.. Haha.

[2016-05-20 17:20] metalx1000 opened #26 "Camp Fire Popcorn"
Ok, here is a thought I just had.
I just started work on spitting seeds.
How about we add a camp fire object to the game?
If you touch it, it hurts you, but if you spit a seed into it, it pops into a peace of popcorn.

What do you guys think? @jimfrize @OneSleepyDev

[2016-05-20 17:29] OneSleepyDev commented on #26
Sounds good! To add to this, how about x2 dmg from flaming seeds?

[2016-05-20 17:29] OneSleepyDev commented on #25
Working on implementing this. Could you assign this to me @metalx1000 ?

[2016-05-20 19:05] metalx1000 commented on #25
Ok, So I created an organization and moved the repository there/here.  Now I can assign people to things and I think I have a little more control over permissions and I can give you guys a little more control over stuff here...but I need to figure all this out.

[2016-05-20 19:06] jimfrize commented on #26
Haha, excellent idea! I can make an animation spritesheet for that, should be easy enough. This might also be a good time to look at pulling animated objects from the Tiled JSON file.

Might be away for a few days, got a gig this weekend, busy at the studio and stuff. So I will be back on the project soon :)

[2016-05-20 19:12] jimfrize commented on #21
Ok, just a quick catch up before I head out. Been working on a really stripped back "sandbox" version of the game for testing and troubleshooting. Using it,  I'm currently working on adding momentum to the characters walking. Got something going, will report back soon.

The Sandbox version is less than 68MB in total. While making it I have gained a better understanding of the project, it's been pr

[2016-05-20 20:12] metalx1000 commented on #25
@OneSleepyDev You should have received an email about becoming part of the "Awesome Game Team".  Once you confirm that I should be able to assign you to this.

[2016-05-20 20:22] OneSleepyDev commented on #25
Joined! Thanks @metalx1000 !

[2016-05-21 13:45] metalx1000 opened #27 "Fit to Window Size"
I've been working on trying to get the game to fit to the size of the browser window.
I think it would be nice to have that on startup and also I know iOS devices (last I checked) are unable to go into full screen mode.  I've created a "resizeGame" function, that almost works. Everything resizes, except the map layer doesn't seem to render out to the full screen.  See what I mean here:
http://film

[2016-05-24 00:00] jonpatterns commented on #27
Setting the renderer and camera size is needed.  However, it looks like each layer of the tilemap needs to be resized too, for example:

If you store tilemap handles using variables `layerbackdrop` and `layer` when they are created in map.js:

[code]

Then this resize function works in input.js:

[code]

I've got a suspicion Phaser can handle resizing across different devices using Phaser.ScaleMan

[2016-05-24 00:00] OneSleepyDev commented on #27
I'm having some success with this in input.js, except the icon and text display are off some. (Which might be due to the bounds line)
I agree to the display.js file

[code]

Is that close to what you're looking for?

[2016-05-24 01:05] metalx1000 commented on #27
@jonpatterns Resizing the the layers worked, but there are two issues now.
1) when you go into fullscreen, there is now letteboxing happening (not a big deal).
2)when coming out of fullscreen mode hud and messages are don't get re-positioned.
This can be fixed by resetting there "cameraOffset.setTo".

I'll need to put each button in an array when created and set default positioning for them.
This

[2016-05-24 14:34] jonpatterns commented on #27
The resize routine can be omitted by setting 'game.scale.fullScreenScaleMode' and 'game.scale.scaleMode' when the game initialises. For example,

[code]

The SHOW_ALL option even dynamically resizes when the browser windows size is readjusted.
http://phaser.io/docs/2.3.0/Phaser.ScaleManager.html

Downsides:
- the game is slightly letterboxed - there may be a ratio/camera attribute to change this.

[2016-05-24 21:45] metalx1000 commented on #27
I think I've got it mostly working with @jonpatterns suggestions leading me in the right directions.
I got it fullpage, no letterboxing on fullscreen, and it resizes correctly when you come out of fullscreen mode.

The problem at this point is if the game started in Portrait mode on a mobile device it screws everything up.  So we need a screen that tells the player to turn their device landscape,

[2016-05-24 21:45] #27 closed

[2016-05-24 21:47] metalx1000 opened #29 "Load screen with orientation detection."
We need a load screen that detects if the player has their devices in Landscape orientation.
If the device is not, it needs to ask the player to rotate their device before the game starts.

[2016-05-24 22:08] OneSleepyDev commented on #29
In Cordova it can be forced. But..
There's an example in the Phaser projects [1]. And someone here [2] made an example using another method.

[1] https://github.com/photonstorm/phaser/tree/master/resources/Project%20Templates/Full%20Screen%20Mobile
[2] http://www.emanueleferonato.com/2015/04/23/how-to-lock-orientation-in-your-html5-responsive-game-using-phaser/

[2016-05-25 00:32] metalx1000 commented on #29
Thanks @OneSleepyDev.  I've tried to incorporate that code into ours.  I'm doing something wrong.  I've been playing with it for two hours and everything I try, something else goes wrong and then I go in circles.

If anyone has time, please look over the "display.js" and try to figure out what I'm doing wrong.  I think I just need some fresh eyes on this.

It's funny how the things that are suppos

[2016-05-25 19:02] jonpatterns commented on #29
I don't think the scale modes for fullscreen and non fullscreen need to keep on being set. They should be configured when the game initialises and that's it. Potentially the resizeGame function is messing things up, because its trying to set individual settings that phaser can take care of.

there is also a `game.time.desiredFps` setting, it may make the game smoother on slower systems.
Example: h

[2016-05-25 19:35] metalx1000 opened #30 "Enemies"
Started work on our first enemy today.
A simple Jumper.

Player can get hit by him and seed count set to '0' when hit.

I think the "newEnemy" function will be used for all Enemies (anything that can hurt the player).
Enemy type will be set when creating an Enemy and will define how it acts.

Todo:
Add enemies to map.json
Player needs to die when hit with now seeds.
Seeds need to be thrown and bou

[2016-05-25 19:36] metalx1000 commented on #30
@jimfrize I've just hue shifted the player to make the enemy for now.  But if you could make a new sprite, that would be great.  I could do it, but I'm sure you would do a better job.

[2016-05-25 19:37] metalx1000 opened #31 "Enemy sprites"
Art work time :D

[2016-05-25 19:39] jimfrize commented on #30
@metalx1000 I was just thinking about the "bad guys" :) Been a bit busy recently, hopefully got some time to do a bit more now.

[2016-05-25 19:42] metalx1000 commented on #29
@jonpatterns Great suggestions.  I'm currently working on the enemies and other aspects of the game.  It would be great if you could push some code on this topic.  You seem to have some understanding on it, more than me for sure.  So, before I spend another 2 hours getting no where because I'm going in circles, I'd love to see when you come up with.  If you have the time.

Also, I can make you par

[2016-05-25 21:33] jonpatterns commented on #29
I'll see what I can do. I'll have more time after next Wednesday. I don't have a smart phone to test that side of things.

[2016-05-25 21:38] jonpatterns commented on #30
Maybe the cats can run home instead of dying?

[2016-05-25 21:43] jimfrize commented on #30
@jonpatterns Or they could flip upside down, spring into the air, then just fall off the screen?
Then it's ambigous - did you kill it? Or just scare it off?

[2016-05-25 22:17] metalx1000 commented on #29
@jonpatterns no hurry.  But the problem is mainly due to trying to get things working well on phones.  But, you can always try using the "Device Mode" in Chrome.  It let's you emulate different devices.

[2016-05-25 22:19] metalx1000 commented on #30
Falling off screen would be easier.  Having them run off won't be hard, except for obstacles that might be in their way.

[2016-05-30 00:15] metalx1000 opened #34 "Playable"
The game actually has some things you can do now.
I've done a lot of work the last few days.
@jimfrize I added you background back in, but changed it so that it moved slower then the foreground giving it more of a 3D feel.  Let me know of any proformance issues this might be causing.  I'm hoping now that we are using "CANVAS" things are better.  I also think that @jorgesumle might have had some id

[2016-05-30 00:16] metalx1000 commented on #5
Look at my latest push and tell me what you think of the background movement.

[2016-05-30 00:18] metalx1000 commented on #20
So, I've worked on putting sprites in to tiled.
They are created as pngs under "projectFiles/map_sprites/"
and compiled into a tile set as  "projectFiles/allobjs.png"

are you looking to have them actually animated in the editor?

[2016-05-30 00:20] metalx1000 commented on #21
So, since we are using canvas now, is this an issue anymore?

[2016-05-30 00:20] metalx1000 commented on #30
We have a few bad guys now.

[2016-05-30 00:20] #30 closed

[2016-05-30 00:20] #31 closed

[2016-05-30 01:38] OneSleepyDev commented on #34
In regards to the last part. I'm not tiring :-)
With some school stuff, work stuff, etc. - I've been a bit slow though, and keeping up has been a bit hard, so I apologize.

[2016-05-30 19:30] jimfrize commented on #34
@metalx1000 I'm still alive, just busy.

Wow you've done loads of work!
I love how the cats perish, nicely done :)

I've given up on using Firefox or Safari, the game chews on the processor too much. I even made a significantly reduced version of the game, and it still hogs way more than it should do. So I've switched to using Chrome. Things work much smoother on Chrome.

I've got a little time to

[2016-05-31 01:23] jimfrize commented on #5
@metalx1000 Superb work, looks great!

[2016-05-31 01:23] #5 closed

[2016-05-31 01:30] jimfrize commented on #20
@metalx1000 You can animate tilesets in Tiled, it's really easy to do: View->Tile Animation Editor
I had a look around to see if there was some documentation or tutorial on how to use the animated objects in Phaser, but I did not find anything. When I next get some time, I will look at what data is available in the animated objects. It must store the info in the JSON file, it's probably just a cas

[2016-05-31 22:42] Glissando commented on #29
I implemented this in my own project, not on the loading screen though. Could implement it here if no one else is on it.

https://github.com/Glissando/Gentry-Public/blob/master/Gentry/js/Scene.js

[2016-06-02 17:30] jorgesumle commented on #34
I don't have much spare time and I don't know how to use Phaser, but I will try to help from time to time. The game works fine on Firefox for me, but fails on Ubuntu Browser and Chrome.

[2016-06-02 19:01] metalx1000 commented on #34
@jorgesumle Do you get any errors in the console (F12), or on the page when using Chrome?

[2016-06-02 20:41] jonpatterns commented on #34
Game design, at the moment it seems its going to be a fairly typical platformer. I can't get behind a rude boy chick pea stamping on sad cats.

[2016-06-03 01:31] jorgesumle commented on #34
I have just tested it with Ubuntu Unity desktop environment, but with Lubuntu desktop environment (LXDE) it just shows a blank screen. I also tested it with Opera and SlimBrowser and it works fine. It shows no error message.

[2016-06-03 01:44] jorgesumle commented on #34
I have just tested it on Chrome with Lubuntu desktop environment (LXDE) it just shows a blank screen. I also tested it with Opera and SlimBrowser and it works fine. It shows the following error message:

Phaser v2.4.6 | Pixi.js v2.2.9 | Canvas | WebAudio     http://phaser.io ♥♥♥
phaser.js:72123 XMLHttpRequest cannot load file:///home/jorge/Descargas/Awesome-Game-master/res/map.json. Cross origin r

[2016-06-03 02:04] metalx1000 commented on #34
@jorgesumle Looks like you are trying to run it by opening the file directly.  I'm surprised this worked in any browser.  It should, that would be a security risk.  Either spin up your own web server to access it, or try the link on my site:
http://filmsbykris.com/scripts/Awesome-Game/

[2016-06-03 02:07] metalx1000 commented on #34
@jonpatterns it's pretty basic now, but that is why we are working on it.  If you want it to be more, then make it something more.  What is it you want to see the game do?

Also, are you serious about the "rude boy chick pea stamping on sad cats" comment, or was that meant  to be a joke?

People, these aren't real cats.  Nothing is dying for real.  It's just a game.

[2016-06-03 19:29] #34 closed

[2016-06-03 19:38] metalx1000 opened #36 "New way of loading backgrounds"
So, I made a very simple second level map for testing.
New maps can be loaded at this point with a url variable.
The game will load map "0" if no map is specified.

So, you can load the game like this:
http://filmsbykris.com/scripts/Awesome-Game/
Or give it a map to load like this:
http://filmsbykris.com/scripts/Awesome-Game/?map=1

Maps can be named whatever you want.  But I think for the officia

[2016-06-06 22:10] metalx1000 commented on #36
Although you don't see much of a change in the game, I've completely rewrote how the background image is loaded and added a cloud layer option (both move at different speeds to give more of a 3D feel).

Both can be loaded into a map by adding an object to the object layer and changing the name property to "clouds" or "background" and then giving it a "type" of the file name.

Example, background o

[2016-06-06 22:10] #36 closed